
/* Medium Devices */
@media (min-width: 768px) and (max-width: 1024px){
    /* Banner Start */
    .banner .grid {
        grid-template-columns: 52% 46%;
        gap: 2%;
    }
    .banner-info {
        padding: 70px 5px 0 70px;
    }
    .banner-text p {
        font-weight: 300;
        font-size: .9375em;
    }
    /* Banner End */
    /* Blog Start */
    .main-blog {
        margin: 70px 0;
    }
    .main-blog .flex{
        flex-direction: column;
    }
    .main-blog .contents{
        width: 100%;
    }
    .main-blog .blogs{
        width: 100%;
    }
    .contents ul{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .contents {
        background-color: transparent;
    }
    .contents ul li{
        width: 200px;
        margin: 0 15px;
    }
    .contents ul li a {
        background-color: #fff;
        border: 1px solid #E8E8E8;
        width: 100%;
    }
    .view-btn{
        margin-top: 50px;
        display: block;
    }
}
/* Small Devices */
@media (min-width: 576px) and (max-width: 767px) {
    /* Banner Start */
    .banner .container .grid{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        justify-content: center;
    }
    .banner-info {
        padding: 75px 90px 0;
        text-align: center;
    }
    .banner-text p {
        font-weight: 300;
        font-size: .875em;
    }
    /* Blog Start */
    .main-blog .flex{
        flex-direction: column;
    }
    .main-blog .contents{
        width: 100%;
    }
    .main-blog .blogs{
        width: 100%;
    }
    .contents {
        background-color: transparent;
    }
    .contents ul li a {
        width: 60%;
        background-color: #fff;
        border: 1px solid #E8E8E8;
    }
    .contents ul li a:hover{
        border: 1px solid transparent;
    }
    .main-blog {
        margin: 30px 0;
    }
    .contents ul li {
        margin: 10px 0;
    }
}

/* ? Responsive Animation */
@media all and (max-width: 767px){

    @keyframes slidInFormLeft{
        0%{
            transform: translateY(-100%);
        }
        100%{
            transform: translateY(0);
        }
    }

    @keyframes slidInFormRight{
        0%{
            transform: translateY(100%);
        }
        100%{
            transform: translateY(0);
        }
    }
}

/* ? Mobile */
@media all and (max-width: 575px){

    .container{
        padding: 0 20px;
    }

    /* Banner Start */
    .banner .container .grid{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 0;
        justify-content: center;
    }
    .banner-info {
        padding: 60px 35px 0;
        text-align: center;
    }
    .extra-text{
        display: none;
    }
    .banner-text p {
        font-weight: 300;
        font-size: .875em;
    }
    .banner-btn{
        padding: .5em .75em;
    }
    .banner-span{
        display: none;
    }
    /* Banner End */

    /* Blog Start */
    .main-blog .flex{
        flex-direction: column;
    }
    .main-blog .contents{
        width: 100%;
    }
    .main-blog .blogs{
        width: 100%;
    }
    .contents {
        background-color: transparent;
    }
    .contents ul li a {
        width: 80%;
        background-color: #fff;
        border: 1px solid #E8E8E8;
        padding: .6em 0;
    }
    .contents ul li a:hover{
        border: 1px solid transparent;
    }
    .main-blog {
        margin: 30px 0;
    }
    .contents ul li {
        margin: 10px 0;
    }
    /* Blog End */
    /* Footer Start */
    .footer-content{
        flex-direction: column;
    }
}