/* google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --banner-bg: #161616;
    --bg-color: #161616;
    --text-color: #161616;
    --text-white: #fff;
    --btn-bg: #1aaa7a;
}

/* Basic Css Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #161616;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

img {
    width: 100%;
}

h1,
h2 {
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

/* Basic Css End */

/* Banner Start */
.banner {
    margin-top: 50px;
}

.banner .container .grid {
    grid-template-columns: 43% 53%;
    gap: 4%;
}

.banner-info {
    background-color: var(--banner-bg);
    color: var(--text-white);
    border-radius: 30px;
    padding: 40px 40px 0 60px;
    position: relative;
}

.banner-text {
    position: relative;
    bottom: 35px;
    animation: slidInFormLeft 1s ease;
}

.banner-img {
    position: relative;
    bottom: -10px;
    animation: slidInFormRight 1s ease;
}

.banner .container .grid {
    overflow: hidden;
}

.banner-text h1 {
    font-size: 60px;
    font-size: clamp(1.5625em, 4.5vw, 4em);
    font-weight: 700;
}

.banner-text p {
    font-weight: 400;
    font-size: 1em;
    margin-top: 24px;
    margin-bottom: 24px;
}

.banner-btn {
    margin-top: 15px;
}

.banner-btn:hover {
    transform: scale(.98);
}

.fa-angle-right {
    margin-left: 7px;
    font-size: 18px;
}

/* Banner End */

/* Blog Start */

.main-blog {
    margin: 120px 0;
}

.main-blog .contents {
    width: 25%;
    align-self: flex-start;
}

.main-blog .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.main-blog .blogs {
    width: 75%;
}

.contents {
    background-color: var(--bg-color);
    text-align: center;
    padding: 8px 30px;
    border-radius: 10px;
}

.contents ul {
    display: flex;
    flex-direction: column;
}

.contents ul li {
    margin: 20px 0 18px;
}

.contents ul li a {
    display: inline-block;
    color: var(--text-color);
    background-color: #fff;
    padding: 1em .625em;
    width: 100%;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.2em;
    transition: background-color .2s ease, color .2s ease;
}
.contents ul li a:hover {
    background-color: var(--btn-bg);
    color: #fff;
}
.contents ul li.active a {
    background-color: var(--btn-bg);
    color: #fff;
    border: 1px solid transparent;
}

.blog {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.blog-info {
    padding: 20px 20px 10px;
}

.blog .blog-btn {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid #000;
    padding: .375em .75em;
    font-size: 1em;
}

.blog-title {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
}

.blog-detail {
    color: var(--text-color);
}

.blog-detail span {
    margin-right: 30px;
    font-size: 1em;
}

.blog-detail i {
    color: #454545;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 1.125em;
}

.view-btn {
    margin-top: 50px;
    display: none;
}

.view-btn:hover {
    transform: scale(.98);
}

/* Blog End */
/* Match Start */

.flags {
    display: flex;
    justify-content: center;
    align-items: center;
}

.match {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 50px 22px;
    text-align: center;
    color: var(--text-color);
}

.flags span {
    font-size: 15px;
    font-weight: 700;
    margin: 0 22px;
    color: var(--text-color);
}

.match h3 {
    font-size: 20px;
    margin-top: 20px;
}

.match p {
    color: #4D4D4D;
    font-size: 1em;
}

/* Match Start */

/* Footer Start */
.footer {
    padding: 100px 0;
    background-color: var(--bg-color);
}

.footer-heading {
    font-size: 40px;
    font-weight: 600;
    color: var(--text-white);
}

.footer hr {
    width: 100%;
    border: 1px solid #2D2D2D;
    margin: 50px 0 40px;
}

.footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-content li {
    margin: 10px 20px;
}

.footer-content li a {
    color: #B9B9B9;
}

.footer-content li a:hover {
    border-bottom: 1px solid #fff;
    color: #fff;
}

.social {
    margin: 20px 0;
}

.social.flex {
    gap: 0;
}

.social span {
    margin-right: 5px;
}

.social a {
    display: inline-block;
    color: rgb(233, 231, 231);
    margin: 10px;
    font-size: 1.7em;
}

.social a:hover {
    color: #fff;
    transform: scale(1.1);
}

.social span {
    color: var(--text-white);
}

.copyright {
    margin-top: 50px;
}

.copyright p {
    color: #B9B9B9;
    font-size: .8em;
}

/* Footer End */